#createGenre {
    margin-bottom : 50px; 
<<<<<<< HEAD
    border : 2px solid black; 
    width : 60%; 
    padding : 20px; 
}

#createGenre #name, #createMovie > * {
    padding : 20px; 
    width : 30%; 
=======
}

#createGenre #name {
    padding : 20px; 
>>>>>>> 9e203525832093fc9b7036ce3d431d9e2edc34a6
}

#createGenre #add-genre-button {
    padding : 20px; 
}

#createGenre #add-genre-button:hover {
    cursor : pointer; 
<<<<<<< HEAD
}

#genreConfirm {
    padding : 20px; 
    border : 2px solid green; 
    text-align : center; 
    transition : all .8s; 
    opacity : 0; 
    width : 40%; 
    margin : 0 auto; 
    margin-bottom : 40px;  
}

#createMovie {
    padding : 20px; 
    width : 60%; 
    border : 2px solid black; 
=======
>>>>>>> 9e203525832093fc9b7036ce3d431d9e2edc34a6
}